/* YourComponent.css (or your main CSS file) */

/* Style for the main heading */
.main-heading {
  margin-top: 5rem;
  text-align: center;
}

/* Style for the container holding the buttons */
.menu-tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Style for the menu items */
.Menu-tab {
  display: flex;
  justify-content: space-around;

}

/* Style for the buttons */
.btn {
  height:fit-content;
  width:fit-content;
  font-size: 6rem;
  border-radius: 3rem;
  background-color: gold;
  
  margin: 0 7rem; /* Adjust the spacing between the buttons as needed */
}
.Menu-items {
  /* Your CSS styles for the "Menu-items" div go here */
  /* For example: */
  background-color:antiquewhite;
  padding: 20px;
  height:cover;
  width:cover;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top:10rem;
  margin-bottom: 10rem;
  align-self: center;
  border: 1px solid #171616;
  box-shadow: 10px;
}
/* .row{
  height:cover;
  width:cover;
  background-color:blueviolet;
  
} */
/* .row my-5{
height:10rem;
width:5rem;
background-color: yellowgreen;
} */
/* .column-container col-11 mx-auto{
height: 20rem;
  width:10rem;
  background-color:yellowgreen;
} */
/* .Item-inside{
  height:20rem;
  width:10rem;
  color: black;
} */




