/* ImageGrid.css */


  
  .image-item {
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    gap: 3rem;
    /* background-color: blueviolet; */
  }
  
  .image-item img {
    justify-content: space-between;
    /* gap:5%; */
    /* background-color:brown; */
    padding:10%;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }
  
  .image-item:hover img {
    transform: scale(1.1); /* Increase the scale for a zoom effect on hover */
  }
.selected-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Overlay background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the selected image is above other content */
  }
  
  .selected-image img {
    background-color: #333;
    width: 80vh; /* Adjust the width of the selected image */
    height: 80vh; /* Limit the height of the selected image */
  }
  .back-button {
    background-color: #333;
    color: #fff;
     width: 5vh;
    border: none;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .back-icon {
font-size: 4vh;
font-style: bold;
align-content: center;

  }
  
  
  
  
  
  
  